body{background-color: black; color: black; padding: 0px; width: 100%;}
nav{background-color: rgb(39, 38, 38);}
a {color: white;}
li{list-style: none; margin: 0px;}
ul{padding-inline-start:0px;}
h3{color: rgb(29, 112, 221); padding-top: 10px; padding-bottom: 10px;}
h5{color: orange;}
.fa-shopify{color: chartreuse;}.fa-html5{color: cornflowerblue;}.fa-css3-alt{color: orange;}.fa-sass{color: violet;}.fa-js-square{color:gold;}
#shopify{padding-top: 30px;}
.titre{padding-top: 20px;padding-bottom: 20px; text-align: center; color: black;}
.titre2{padding-top: 20px;padding-bottom: 20px; text-align: center; color: white;}
.descriptionShopify{padding-bottom: 50px;padding-top: 50px;}
#contactFormulaire{display: flex; flex-direction: column; align-items: center; background-image:url("../img/contact.jpg");background-size: contain;padding-top: 60px; padding-bottom: 60px;background-repeat: no-repeat;background-size: cover;}
@media screen and (min-width: 1024px) {
    #openclassrommsArtile{display: flex; flex-direction: row; padding-top: 60px; margin: 30px; justify-content: space-around;align-items: center;}
    .openclassromArticleImg{padding-left: 10%;}
    .photoProfil{padding-bottom: 20px; justify-content: center; }
    #logolanguage{display: flex; flex-direction: row; justify-content: space-evenly;padding-bottom: 50px;padding-top: 50px;}
}

@media screen and (max-width: 1024px) { 
    #openclassrommsArtile{display: flex; flex-direction: column-reverse;padding-top: 50px;}
    .photoProfil{padding-bottom: 20px; display: block;}
    #logolanguage{display: flex; flex-direction: row; justify-content:space-around;padding-bottom: 50px;padding-top: 50px;flex-wrap:wrap;}
}