body {
  background-color: #222222;
}

.fa-github {
  color: #ffffff;
}

.fa-linkedin {
  color: #ffffff;
}

.fa-user-graduate {
  color: #ffffff;
}

.shake-top {
  color: #ffffff;
  background-color: #7554E0;
}

a {
  color: #ffffff;
}

a:hover {
  color: #000000;
}

h2 {
  color: #7554E0;
}

#header_display {
  background-color: #7554E0;
  color: #ffffff;
}

#article_acceuil_display {
  color: #ffffff;
}

#competence {
  color: #ffffff;
}

#logolanguage {
  color: #ffffff;
}

#portfolio_display {
  background-color: #ffffff;
}

.photoproject {
  border-color: #7554E0;
}

#formulairecontact {
  color: white;
}

#contact {
  background-color: #222222;
  color: #7554E0;
}

#footer {
  background-color: #7554E0;
  color: #ffffff;
  margin-top: -20px;
}

@font-face {
  font-family: "Avocado Creamy";
  src: url("../fonts/AvocadoCreamy.woff2") format("woff2"), url("../fonts/AvocadoCreamy.woff") format("woff"), url("../fonts/AvocadoCreamy.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
h1, .Titre_section, .titrefont, h2 {
  font-family: Avocado Creamy;
}

li {
  list-style: none;
}

p, figcaption {
  font-family: Arial, Helvetica, sans-serif;
}

a, a:hover {
  text-decoration: none;
}

body {
  background-color: #222222;
}

.fa-github {
  color: #ffffff;
}

.fa-linkedin {
  color: #ffffff;
}

.fa-user-graduate {
  color: #ffffff;
}

.shake-top {
  color: #ffffff;
  background-color: #7554E0;
}

a {
  color: #ffffff;
}

a:hover {
  color: #000000;
}

h2 {
  color: #7554E0;
}

#header_display {
  background-color: #7554E0;
  color: #ffffff;
}

#article_acceuil_display {
  color: #ffffff;
}

#competence {
  color: #ffffff;
}

#logolanguage {
  color: #ffffff;
}

#portfolio_display {
  background-color: #ffffff;
}

.photoproject {
  border-color: #7554E0;
}

#formulairecontact {
  color: white;
}

#contact {
  background-color: #222222;
  color: #7554E0;
}

#footer {
  background-color: #7554E0;
  color: #ffffff;
  margin-top: -20px;
}

.photoprofil {
  border-radius: 180px;
  margin-top: -10px;
}

@media screen and (min-width: 1024px) {
  h2 {
    text-align: center;
    font-size: 80px;
  }

  .titrefont {
    font-size: 20px;
  }

  #article_acceuil_display {
    font-size: 22px;
    line-height: 80px;
  }

  .Titre_section {
    font-size: 78px;
  }

  .gauchecompetence, p, figcaption {
    font-size: 22px;
  }

  #footer {
    font-size: 20px;
  }

  body, html {
    padding: 0px;
    margin: 0px;
    width: 100%;
  }

  /* header */
  #header_display {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 0;
    padding-top: 10px;
  }

  .header_ancre_config {
    padding-top: 30px;
  }

  /* article acceuil */
  #article_acceuil_display {
    margin-top: -16px;
    text-align: center;
    padding-top: 200px;
    padding-bottom: 400px;
    background-image: url("../img/web_developpeur_desktop.jpg");
  }

  #competence {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 150px;
    padding-right: 150px;
    padding-top: 60px;
  }

  .gauchecompetence {
    line-height: 40px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-bottom: 50px;
  }

  .droitecompetence {
    padding-bottom: 10px;
  }

  #logolanguage {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
  }

  /* portfolio */
  #portfolio_display {
    text-align: center;
    padding-top: 20px;
  }

  #portfolio-flex {
    padding-bottom: 100px;
    display: flex;
    flex-direction: row;
    text-align: center;
  }

  .photoproject {
    margin: 20px;
    border-style: solid;
    border-width: 3px;
    border-radius: 10px;
  }

  /* contact*/
  #contact {
    padding-top: 70px;
    padding-bottom: 50px;
    border-bottom-style: solid;
    border-bottom-width: 20px;
  }

  /* footer */
  #footer {
    width: 100%;
    bottom: 0;
    position: relative;
    padding-bottom: 5px;
  }

  #footer_display {
    display: flex;
    flex-direction: row-reverse;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding-top: 10px;
  }

  #formulairecontact {
    padding-top: 60px;
    padding-bottom: 60px;
    background-image: url("../img/contact.jpg");
    background-position: center;
  }
}
@media screen and (max-width: 1024px) {
  #article_acceuil_display li {
    font-size: 28px;
  }

  .Titre_section {
    font-size: 38px;
  }

  #footer {
    font-size: 20px;
  }

  body, html {
    padding: 0px;
    margin: 0px;
    width: 100%;
  }

  #section_display {
    display: flex;
    flex-direction: column;
  }

  /* header */
  #header_display {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }

  /* article acceuil */
  #article_acceuil_display {
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  /* footer */
  #footer {
    width: 100%;
    bottom: 0;
    position: relative;
    padding-top: 15px;
    padding-bottom: 15px;
  }

  #footer_display {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  .fa-mobile {
    padding-bottom: 10px;
  }

  .fa-envelope {
    padding-bottom: 10px;
  }

  /*contact*/
  #contact {
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }
}
.shake-top:hover {
  -webkit-animation: shake-top 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation: shake-top 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  margin-left: 42%;
  margin-right: 42%;
  min-width: 220px;
  border-radius: 10px;
}

.shake-top {
  margin-left: 42%;
  margin-right: 42%;
  min-width: 220px;
  border-radius: 10px;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-8-30 3:34:1
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation shake-top
 * ----------------------------------------
 */
@-webkit-keyframes shake-top {
  0%, 100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%, 40%, 60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%, 50%, 70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}
@keyframes shake-top {
  0%, 100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 0;
    transform-origin: 50% 0;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%, 40%, 60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%, 50%, 70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}
.jello-horizontal:hover {
  -webkit-animation: jello-horizontal 0.9s;
  animation: jello-horizontal 0.9s;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-8-30 3:51:23
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation jello-horizontal
 * ----------------------------------------
 */
@-webkit-keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }
  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }
  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }
  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }
  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }
  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}
.pulsate-bck:hover {
  -webkit-animation: pulsate-bck 0.5s infinite;
  animation: pulsate-bck 0.5s infinite;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-8-30 3:53:54
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation pulsate-bck
 * ----------------------------------------
 */
@-webkit-keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-bck {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
.slide-in-left {
  -webkit-animation: slide-in-left 2s;
  animation: slide-in-left 2s;
}

/* ----------------------------------------------
* Generated by Animista on 2020-8-30 4:7:16
* Licensed under FreeBSD License.
* See http://animista.net/license for more info. 
* w: http://animista.net, t: @cssanimista
* ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-in-left
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-left {
  0% {
    -webkit-transform: translateX(-1000px);
    transform: translateX(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
.slide-in-right {
  -webkit-animation: slide-in-right 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-right 2.5s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

/* ----------------------------------------------
 * Generated by Animista on 2020-8-30 4:9:4
 * Licensed under FreeBSD License.
 * See http://animista.net/license for more info. 
 * w: http://animista.net, t: @cssanimista
 * ---------------------------------------------- */
/**
 * ----------------------------------------
 * animation slide-in-right
 * ----------------------------------------
 */
@-webkit-keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}
@keyframes slide-in-right {
  0% {
    -webkit-transform: translateX(1000px);
    transform: translateX(1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
    transform: translateX(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
