  
@media screen and (min-width: 1024px){
    h2{text-align: center; font-size: 80px;}
    .titrefont{font-size: 20px;}
    #article_acceuil_display {font-size: 22px;line-height: 80px;}
    .Titre_section{font-size: 78px;}
    .gauchecompetence,p,figcaption,span,#footer_display li{font-size: 22px;}
    #footer{font-size: 20px;}
    body,html{
        padding: 0px;
        margin : 0px;
        width  : 100%; 
  }

    /* header */
    #header_display{display: flex; flex-direction: row; justify-content: space-evenly; margin-top: 0;padding-top: 10px;}
    .header_ancre_config{padding-top: 30px;}

    /* article acceuil */
    #article_acceuil_display{margin-top: -16px;text-align: center;padding-top: 200px; padding-bottom: 400px; background-image:url("../img/web_developpeur_desktop.jpg");}

    #competence{display: flex; flex-direction: row; justify-content: space-between; padding-left: 150px; padding-right: 150px;padding-top: 60px;}
    .gauchecompetence{line-height: 40px; display: flex; flex-direction: column; flex-wrap: wrap; padding-bottom: 50px;}
    .droitecompetence{padding-bottom: 10px;}

    #logolanguage{display: flex; flex-direction: row;justify-content: space-evenly;}


    /* portfolio */ 
    #portfolio_display{text-align: center;padding-top: 20px;background-image:url("../img/portfolio.jpg");}
    #portfolio-flex{ padding-bottom: 100px; display:flex; flex-direction: row; text-align: center;}
    .photoproject{margin: 20px; border-radius: 10px;box-shadow: 10px 5px 5p #000000;}

    /* mon domaine de competence */
    #domainecompetences{display: flex; flex-direction: row;justify-content: space-between; padding-left: 10%; padding-right: 10%;padding-top:60px;padding-bottom: 120px;}
    .formecompetences{display: flex; flex-direction: column; text-align: center;line-height: 30px;transition: 0.90s;}
    .formecompetences:hover{font-size: 170%; transition: 0.90s;}
    .fa-window-maximize,.fa-mobile,.fa-code,.fa-low-vision,.fa-tachometer-alt,.fa-google{padding-bottom: 20px;}
    #COMPETENCEPADDING{padding-bottom: 100px;padding-top: 50px;}
    .hr1{width: 60%;margin-bottom:20px;height: 10px;transition: 1s;}.hr2{width: 40%;margin-bottom:20px;height: 10px;transition: 1s;}.hr3{width: 20%;height: 10px;transition: 1s;}
    .hr1:hover{width: 40%;margin-bottom:20px; transition: 1s; height: 10px;}.hr2:hover{width: 30%;margin-bottom:20px;transition: 1s;}.hr3:hover{width: 5%;height: 10px;transition: 1s;}
    #iconecompetence{display: flex; flex-direction: row;justify-content: space-around; padding-top: 30px; text-align: center;}
    /* contact*/
    #contact{padding-top: 70px;padding-bottom: 60px; background-image:url("../img/contact.jpg");background-position: center;}


    #mappy{border-top-style: solid; border-top-style: inset;border-top-width: 10px;}
    /* footer */
    #footer{ width: 100%;bottom: 0; position: relative; padding-bottom:5px;padding-top: 10px;}
    #footer_display{display: flex; flex-direction: row-reverse; flex-wrap: wrap; justify-content: space-evenly;padding-top: 10px;}

}

