@media screen and (max-width: 1024px){
    #article_acceuil_display li{font-size: 22px;}
    .Titre_section{font-size: 28px;}
    #footer{font-size: 20px;}
    body,html{
        padding: 0px;
        margin : 0px;
        width  : 100%; 
  }

  #header_display{display: flex; flex-direction: column; flex-wrap: wrap;}
  #section_display{display: flex;flex-direction:column;padding-top: 50px;padding-bottom: 50px; text-align: center;}
  #article_acceuil_display ul{padding: 0px;}

  .photoprofil{margin-top: 50px;}

  #portfolio_display{display: flex; flex-direction: column;background-image:url("../img/portfolio.jpg")}
}