$color_display1:#7554E0;
$color_display2:#222222;
$color_display3:#ffffff;

$color_fonts1:#7554E0;
$color_fonts2:#000000;
$color_fonts3:#ffffff;

body{background-color: $color_display2;}
.fa-github{color:$color_display3;}
.fa-linkedin{color:$color_display3;}
.fa-user-graduate{color:$color_display3;}
.shake-top{color:$color_fonts3;background-color:$color_display1 ;}

a{color: $color_fonts3;}a:hover{color: $color_fonts2;}
h2{color:$color_fonts1 ;}
#header_display{background-color:$color_display1 ;color:$color_fonts3;}

#article_acceuil_display{color: $color_fonts3;}
#competence{color:$color_fonts3 ;}
#logolanguage{color: $color_display3;}

#portfolio_display{background-color:$color_display3 ;}
.photoproject{border-color:$color_display1;}

#domainecompetences{color:$color_fonts3 ;}

#formulairecontact{color: white;}
#contact{color:$color_fonts3;}
#mappy{background-color: $color_display3;color:$color_fonts1 ;border-top-color:$color_display1 ;}

#footer{background-color: $color_display1; color: $color_fonts3; margin-top: -20px;}
